In [5]:
import sqlite3

conn = sqlite3.connect('db.sqlite3')  # replace with your database file
cursor = conn.cursor()

In [3]:
import sqlite3

# Connect to your SQLite database (creates the file if it doesn't exist)
conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

# Optional: Create the table if it doesn't exist

# Insert a new record
cursor.execute('''
    INSERT INTO api_userprofile (id,name,role, user_id)
    VALUES (?, ? ,?,?)
''', (3, 'Chef de Parc','user',3))

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Record inserted successfully.")

Record inserted successfully.

In [6]:
cursor.execute("""
    UPDATE api_userprofile
    SET name = ?
    WHERE id = ?
""", ("user", 3))

In [7]:
conn.commit()

In [8]:
conn.close()

In [12]:
distinct_couples

    Unnamed: 2    Unnamed: 5
0          NaN           NaN
5   Equipement        Ordre
6           K1  MA-PCAM00012
8           K9  MA-PCAM00020
9           ST           NaN
10         K19  MA-PCAM00036
11        D6R4  MA-PBULL0015
14         K10  MA-PCAM00004
17     REM9329           NaN
19         D6H  MA-PBULL0022
20       PR742  MA-PBULL0019
23     REM7078           NaN
27    REM14985           NaN
31         12K  MA-PNIV00004
32          K7  MA-PCAM00019

In [8]:
import sqlite3

# Connect to your SQLite database (creates the file if it doesn't exist)
conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

# Optional: Create the table if it doesn't exist

# Insert a new record
cursor.execute('''
    INSERT INTO api_ordreimputation (id_ordre, value)
    VALUES (?, ? )
''', ('K1', 'MA-PCAM00012'))

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Record inserted successfully.")

Record inserted successfully.

In [15]:
import pandas as pd

In [16]:
df1=pd.read_excel("Gestion.xlsx")

In [17]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,RAPPORT JOURNALIER MAINTENANCE PARC SFAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-05-09 00:00:00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
distinct_couples = df1[["Unnamed: 2", "Unnamed: 5"]].drop_duplicates()

In [ ]:
distinct_couples=distinct_couples.

    Unnamed: 2    Unnamed: 5
0          NaN           NaN
5   Equipement        Ordre
6           K1  MA-PCAM00012
8           K9  MA-PCAM00020
9           ST           NaN
10         K19  MA-PCAM00036
11        D6R4  MA-PBULL0015
14         K10  MA-PCAM00004
17     REM9329           NaN
19         D6H  MA-PBULL0022
20       PR742  MA-PBULL0019
23     REM7078           NaN
27    REM14985           NaN
31         12K  MA-PNIV00004
32          K7  MA-PCAM00019

In [33]:
!lsof | grep db.sqlite3

'lsof' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

In [24]:
import pandas as pd
import sqlite3
import time


# Open the connection
conn = sqlite3.connect('db.sqlite3', timeout=10)  # Increase timeout
cursor = conn.cursor()


# Insert with retry
for index, row in distinct_couples.iterrows():
    for attempt in range(3):  # try 3 times
        try:
            cursor.execute('''
                INSERT INTO api_ordreimputation (id_ordre, value)
                VALUES (?, ?)
            ''', (row["Unnamed: 2"], row["Unnamed: 5"]))
            print(f"Inserted: {row['Unnamed: 2']} | {row['Unnamed: 5']}")
            break
        except sqlite3.OperationalError as e:
            if "locked" in str(e):
                print("Database is locked. Retrying...")
                time.sleep(1)
            else:
                raise

# Commit & close
conn.commit()
conn.close()

Inserted: K1 | MA-PCAM00012
Inserted: K9 | MA-PCAM00020
Inserted: K19 | MA-PCAM00036
Inserted: D6R4 | MA-PBULL0015
Inserted: K10 | MA-PCAM00004
Inserted: D6H | MA-PBULL0022
Inserted: PR742 | MA-PBULL0019
Inserted: 12K | MA-PNIV00004
Inserted: K7 | MA-PCAM00019

In [20]:
distinct_couples=distinct_couples.dropna()

In [21]:
distinct_couples=distinct_couples.iloc[1:,:]

In [22]:
distinct_couples

   Unnamed: 2    Unnamed: 5
6          K1  MA-PCAM00012
8          K9  MA-PCAM00020
10        K19  MA-PCAM00036
11       D6R4  MA-PBULL0015
14        K10  MA-PCAM00004
19        D6H  MA-PBULL0022
20      PR742  MA-PBULL0019
31        12K  MA-PNIV00004
32         K7  MA-PCAM00019

In [26]:
df2=pd.read_excel("pointage.xlsx")

In [27]:
df2=df2.dropna()

In [28]:
df2=df2.drop_duplicates()

In [29]:
df2=df2.iloc[1:,:]

In [31]:
df2

   Unnamed: 0
3        5602     BOUSEDRA ABDELAZIZ
5        5604           BOUSEDRA ALI
7        5616           MAROUI FETHI
9        5629      AMRI HEDI B HASEN
11       5648      AMRI SALEM RHOUMA
13       5649       GUESMI ABDERAZAK
15       5679      CHERMI ABDELHAMID
17       5728           LADHIB HABIB
19       5730      TRIKI NEJI AGREBI
21       5749          CHAARI MAKRAM
23       5822            BOUZID KAIS
25       5836    AMRI FETHI BOULAWAY
27       5892     AGREBI TRIKI TAHER
29       5914  AMRI GHOULEM BOULAWAY
33     TOTAUX              PERSONNES
52       5916           LADHIB KLIFA
54       5922           DLENSI NASER
56       5928       AMRI HAMLI HAMDI
58       5931          DABBECHE IMED
60       5933          LADHIB  RIDHA
62       5936          AMRI ABDALLAH
64       5948            DLENSI ADEL
66       5950      LOUSSAEIF MOH ALI
68       5951          ELHZZAMI HEDI
70       5952     BEN ABDALLAH ANWER
72       5954        LOUHICHI LAZHAR
74       5958              AMRI KAIS
76       5969           DAMMAK BACEM
79       5962            AMRI ISMAIL
81       5967           MSEKNI AYMEN
83       5982            BAHRI JALEL
85       5984        BEN HSSINE SEMI
87       5971             AMRI LOUAY

In [30]:
df2.columns

Index(['Unnamed: 0', ' '], dtype='object')

In [32]:
import pandas as pd
import sqlite3
import time


# Open the connection
conn = sqlite3.connect('db.sqlite3', timeout=10)  # Increase timeout
cursor = conn.cursor()


# Insert with retry
for index, row in df2.iterrows():
    for attempt in range(3):  # try 3 times
        try:
            cursor.execute('''
                INSERT INTO api_technician (id_technician, name)
                VALUES (?, ?)
            ''', (row["Unnamed: 0"], row[" "]))
            print(f"Inserted: {row['Unnamed: 0']} | {row[' ']}")
            break
        except sqlite3.OperationalError as e:
            if "locked" in str(e):
                print("Database is locked. Retrying...")
                time.sleep(1)
            else:
                raise

# Commit & close
conn.commit()
conn.close()

Inserted: 5602 | BOUSEDRA ABDELAZIZ
Inserted: 5604 | BOUSEDRA ALI
Inserted: 5616 | MAROUI FETHI
Inserted: 5629 | AMRI HEDI B HASEN
Inserted: 5648 | AMRI SALEM RHOUMA
Inserted: 5649 | GUESMI ABDERAZAK
Inserted: 5679 | CHERMI ABDELHAMID
Inserted: 5728 | LADHIB HABIB
Inserted: 5730 | TRIKI NEJI AGREBI
Inserted: 5749 | CHAARI MAKRAM
Inserted: 5822 | BOUZID KAIS
Inserted: 5836 | AMRI FETHI BOULAWAY
Inserted: 5892 | AGREBI TRIKI TAHER
Inserted: 5914 | AMRI GHOULEM BOULAWAY
Inserted: TOTAUX | PERSONNES
Inserted: 5916 | LADHIB KLIFA
Inserted: 5922 | DLENSI NASER
Inserted: 5928 | AMRI HAMLI HAMDI
Inserted: 5931 | DABBECHE IMED
Inserted: 5933 | LADHIB  RIDHA
Inserted: 5936 | AMRI ABDALLAH
Inserted: 5948 | DLENSI ADEL
Inserted: 5950 | LOUSSAEIF MOH ALI
Inserted: 5951 | ELHZZAMI HEDI
Inserted: 5952 | BEN ABDALLAH ANWER
Inserted: 5954 | LOUHICHI LAZHAR
Inserted: 5958 | AMRI KAIS
Inserted: 5969 | DAMMAK BACEM
Inserted: 5962 | AMRI ISMAIL
Inserted: 5967 | MSEKNI AYMEN
Inserted: 5982 | BAHRI JALEL
Inserted: 5984 | BEN HSSINE SEMI
Inserted: 5971 | AMRI LOUAY